<!-- Start service Area -->
<section class="service-area section-gap relative" id="service">
   <div class="overlay overlay-bg"></div>
   <div class="container">
      <div class="row d-flex">
         <div class="menu-content pb-60 col-lg-8">
            <div class="title text-left">
               <h1 class="mb-10 text-white">Team Build</h1>
               <p style="color: #ffffff; font-size: 16px;">
                  A editora Team Build, é uma empresa virada a sua atenção na nova geração angolana, como diz o nosso slogan (escrevendo com a nova geração), 
                  Estando numa nova era digital onde, a maior parte dos jovens estão mais conectados nos seus materiais eletrônicos do que em manuais físicos.  
               </p>

            </div>
         </div>
      </div>
   </div>
</section>
<!-- End service Area -->

<!-- Start services Area -->
<section class="services-area pb-100" >
   <div class="container">
      <div class="row">

         <div class="col-lg-12">
            <div class="single-service text-left" style="min-height: 250px;">

               <div class="row">
               
                  <div class="col-md-4">
                     <h4><i class="fa fa-map-marker"></i> <span style="font-weight: 300;">Endereço</span></h4>
                     <p>Pedro de Castro Vandume-Loy</p>
                     <p>AP 234, Belas</p>
                     <p>Luanda, Angola</p>
                  </div>

                  <div class="col-md-4">
                     <h4><i class="fa fa-phone"></i> <span style="font-weight: 300;">Telefones</span></h4>
                     <p>+244 222 000 999</p>
                     <p>+244 900 000 999</p>
                  </div>

                  <div class="col-md-4">
                     <h4><i class="fa fa-email"></i> <span style="font-weight: 300;">E-mail</span></h4>
                     <p>hello@teambuild.com</p>
                  </div>
               
               </div>

            </div>
         </div>

      </div>


   </div>
</section>

<!-- Map Begin -->
<div class="map">
   <iframe src="https://maps.google.com/maps?q=Luanda%2C%20pedro%20de%20castrp&t=&z=13&ie=UTF8&iwloc=&output=embed" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   <div class="map-inside">
      <i class="icon_pin"></i>
      <div class="inside-widget">
            <h4>Luanda. Belas</h4>
            <ul>
               <li>Phone: +244 900 890 890</li>
               <li>Pedro de Castro Vandume-Loy</li>
            </ul>
      </div>
   </div>
</div>
<!-- Map End -->

<!-- End services Area -->




<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>

.map {
    height: 500px;
    position: relative;
}

.map iframe {
    width: 100%;
}

.map .map-inside {
    position: absolute;
    left: 50%;
    top: 160px;
    -webkit-transform: translateX(-175px);
    -ms-transform: translateX(-175px);
    transform: translateX(-175px);
}

.map .map-inside i {
    font-size: 48px;
    color: #7fad39;
    position: absolute;
    bottom: -75px;
    left: 50%;
    -webkit-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
}

.map .map-inside .inside-widget {
    width: 350px;
    background: #ffffff;
    text-align: center;
    padding: 23px 0;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
    box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget h4 {
    font-size: 22px;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
    list-style: none;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
}
</style>