
<!-- start footer Area -->		
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Team Build</h6>
                    <p>
                        É objetivamente, nosso propósito, dar oportunidades aos jovens escritores ou talentosos em escrita, a apresentarem os seus conteúdos escritos 
                        de modo profissional e expandi-los em um formato digital (E-book).
                    </p>
                    <p class="footer-text">
                        Copyright &copy; <%= Date.current.year %> Todos os direitos reservados
                    </p>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>Acompanha-nos</h6>
                    <p>Nas redes sociais</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>